@{
	ViewData["title"] = "Adicionar cliente";
}

	<h1>Criar Cliente</h1>

<body>
        <form action="/action_page.php">
          <label for="fname">nome</label><br>
          <input type="text" id="fname" name="fname" value="Jonata" required><br>
          <label for="lname">email</label><br>
          <input type="text" id="lname" name="lname" value="jonata@gmail.com" required><br>
           <label for="lname">Numero de telefone</label><br>
        <input type="text" id="lname" name="lname" value="(11) 99999-9999" pattern="\([0-9]{2}\) [0-9]{4,6}-[0-9]{3,4}$" required><br><br>
          <input type="submit" value="Enviar">
        </form> 
    
</body>
